.environment {
    position: relative;
    height: 600px;
    width: 700px;
    background: #509456;
    margin: 20px auto;
    border-radius: 25px;
    border: 5px solid #003a00;
}

.mathquestion {
    position: relative;
    height: 150px;
    width: 290px;
    color: white;
    text-align: center;
    font-size: 120px;
    margin: auto;
    top: -100px;
    left: 0px;
}

#question {
    /* position: absolute;
    text-align: center;
    margin: auto; */
}

.score {
    height: 50px;
    width: 100px;
    color: white;
    top: 100px;
    left: 325px;
    transform: translate(10%, 0%);
}

#finalscore {
    position: absolute;
    height: 50px;
    width: 50px;
    background: red;
    color: white;
    text-align: center;
    margin: auto;
    top: 100px;
    left: 325px;
}


.turn {
    
    height: 50px;
    width: 80px;
    color: white;
    top: 90px;
    left: 325px;
    transform: translate(760%, 100%);
}

.answer {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 50px;
    width: 500px;
    color: white;

}

.answerBtn {
    border: 3px solid red;
    background-color: orange;
    color: black;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 25px;
    transform: translate(100%, 100%);
}

.answerBtn:hover {
    border: 3px solid orange;
    background-color: yellow;
}

.menu {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0;
    height: 60px;
    width: 150px;
    transform: translate(0%, 50%);
}

#menuTxt {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 53, 133);
    font-size: 20px;
    border-radius: 25px;
}

#startBtn {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid red;
    background-color: orange;
    color: black;
    height: 60px;
    width: 120px;
    font-size: 40px;
    border-radius: 25px;
    transform: translate(0%, 50%);
}

#startBtn:hover {
    border: 3px solid orange;
    background-color: yellow;
}
